.panel {
  width: 100%;
  height: 100%;
  display: flex;
}

.left_panel {
  padding-top: 1px;
  display: flex;
  width: 85%;
  height: 100%;
  background-color: #1e1e1e;
}

.left_panel #container_left {
  width: 100%;
}

.right_panel {
  width: calc(100%);
  height: 100%;
}

.upper_panel {
  overflow: auto;
  padding: 5px;
  background-color: #1e1e1e;
  width: 100%;
  height: calc(100%);
  border: #f5eaef;
}

.upper_panel #container_right_up {
  height: calc(100% - 15px);
}

.bottom_panel {
  padding: 5px;
  background: black;
  width: 100%;
  height: calc(100% / 2);
  border: #f5eaef;
}

.seperator {
  background: #f5eaef;
  color: #884a6f;
}

.seperator.horiz {
  width: 100%;
  height: 15px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.seperator.horiz span {
  margin-top: -3px;
}

.seperator.vert {
  width: 15px;
  height: 100%;
  display: none; /* for now */
  cursor: col-resize;
  -webkit-user-select: none;
  user-select: none;
}

.seperator.vert span {
  top: 50%;
  bottom: 50%;
  position: fixed;
  margin-left: -5px;
}
