
.termRed {
    color: #ff0000;
}

.termGreen {
    color: #00ff00;
}

.termYellow {
    color: #ffff00;
}

.termCyan {
    color: #00ffff;
}

.termBlue {
    color: #0000ff;
}

.termMagenta {
    color: #ff00ff;
}