.termWhite {
    color: #fff !important;
}

.termRed {
    color: #ff0000 !important;
}

.termGreen {
    color: #00ff00 !important;
}

.termYellow {
    color: #ffff00 !important;
}

.termCyan {
    color: #00ffff !important;
}

.termBlue {
    color: #0000ff !important;
}

.termMagenta {
    color: #ff00ff !important;
}